# Don't print a new line at the start of the prompt
add_newline = false

format = """\
  $username\
  $hostname\
  $kubernetes\
  $directory\
  $git_branch\
  $git_commit\
  $git_state\
  $git_status\
  $golang\
  $python\
  $aws\
  $cmd_duration\
  $time\
  $line_break\
  $character\
  """

[aws]
disabled = true
symbol = " "
style = "bold blue"
displayed_items = "region"

[aws.region_aliases]
us-east-1 = "va"
us-east-2 = "oh"
us-west-1 = "ca"
us-west-2 = "or"
us-gov-west-1 = "gov"

[character]
symbol = "[]"
success_symbol = "[](bold green) "
error_symbol = "[ﭸ](bold red) "

[directory]
truncation_length = 3

[env_var]
disabled = true

[gcloud]
disabled = true

[golang]
format = "via [ $version](bold cyan) "

[kubernetes]
symbol = "⎈ "
disabled = false

[python]
symbol = " "
pyenv_version_name = true
pyenv_prefix = ""

[nodejs]
disabled = true

# Disable the package module, hiding it from the prompt completely
[package]
disabled = true
